<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, {{ name }}</title>
</head>
<body>
    
<form action="greet" method="get">
    <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
    <button type="submit">Greet</button>

</form>

<h1>First Heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, sint. Non reprehenderit ipsam explicabo illo placeat sequi maxime accusamus. Voluptatem vel hic blanditiis possimus quibusdam eveniet nam corrupti ex in.</p>
</body>
</html>